$main-color: rgb(80, 202, 255);
$bg-grey-dark-color: rgb(139, 139, 139);
$bg-grey-light-color: rgb(209, 209, 209);
$bg-grey-superlight-color: rgb(233, 233, 233);
$bg-grey-ultralight-color: rgb(243, 243, 243);
$border-color: rgb(153, 153, 153);
$border-color-light: rgb(209, 209, 209);
$wrong-color: rgb(248, 80, 61);
$correct-color: rgb(28, 207, 106);
$font-color-dark: rgb(51, 51, 51);
$font-color-standart: rgb(102, 102, 102);
$font-color-light: rgb(153, 153, 153);
$indicator-color: rgb(82, 255, 157);
$content-width: 96%;
$content-max-width: 1920px;
$app-max-width: 800px;
$header-height: 100px;
$footer-height: 100px;

$font-size-standart: 16px;
