@import '../../../const/const.scss';

.page-content {
  min-height: calc(100vh - $header-height - $footer-height);
  width: $content-width;
  max-width: $content-max-width;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  position: relative;
   
  .app-content {
    display: flex;
    flex-grow: 1;
    justify-content: center;
  }
}
