@import '../../../const/const.scss';

.accounts-list-item {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 25px 29px 25px 43px;
  background: $bg-grey-superlight-color;
  font-size: $font-size-standart;  
  border-radius: 10px;
   
  &-balance {
    color: $correct-color;
  }
}
